---
import Title from "./common/title.astro";
---
<div class="mt-20">
    <Title title1="ABOUT" title2="BROSCO GROUP"/>
  
    <p class="my-6 text-darkGreyColor lg:text-lg text-base w-full lg:w-3/4 mx-auto lg:p-0 p-4"><span class="font-bold">Brosco Group</span> was established in <span class="font-bold">2008</span>, and since that
year our qualified employees accomplished what others
said couldn’t be done.</p>
<p class="mt-1 text-darkGreyColor lg:text-lg text-base w-full lg:w-3/4 mx-auto lg:p-0 p-4">Brosco Group is a dynamic and innovative organization
that is committed to providing exceptional industrial
solutions to its customers. Composed of several industrial
divisions, Brosco Group is home to a team of talented and
experienced professionals who are dedicated to identifying and developing opportunities that create value for its
customers.</p>
</div>