<footer class="bg-blueColor text-white mt-20 pt-10 pb-5 text-center">
    <h1 class="text-xl lg:text-2xl font-semibold">Contact</h1>
    <ul class="flex justify-center items-center flex-wrap">
        <li class="font-medium p-3 pb-0 lg:pb-3 lg:text-base text-sm"><span class="font-semibold">Inside KSA:</span> 920010322</li>
        <li class="font-medium p-3 pb-0 lg:pb-3 lg:text-base text-sm"><span class="font-semibold">Outside KSA:</span> 966138080071</li>
        <li class="font-medium p-3 pb-0 lg:pb-3 lg:text-base text-sm"><span class="font-semibold">Email:</span> info@broscogroup.com</li>
    </ul>
    <p class="pt-2 lg:text-base text-sm">Copyright © 2023 Brosco All Rights Reserved</p>
</footer>