---
import footerImg from "../assets/footer-logo.png";
---
<footer class="bg-blueColor text-white mt-20 pt-10 pb-5 text-center">
    <ul class="flex justify-center items-center flex-wrap">
        <li class="font-medium p-3 pb-0 lg:pb-3 lg:text-base text-sm"><span class="font-semibold">Inside KSA:</span><a href="tel:920010322"> 920010322</a></li>
        <li class="font-medium p-3 pb-0 lg:pb-3 lg:text-base text-sm"><span class="font-semibold">Outside KSA:</span> <a href="tel:966138080071">966138080071</a></li>
        <li class="font-medium p-3 pb-0 lg:pb-3 lg:text-base text-sm"><span class="font-semibold">Email:</span> <a href="mailto:info@broscogroup.com">info@broscogroup.com</a></li>
    </ul>
    <p class="pt-2 lg:text-base text-sm">Copyright © 2023 Brosco All Rights Reserved</p>
</footer>
