<footer class="bg-[#e9e9e9] mt-20 py-10 text-center">
    <h1 class="text-xl font-bold">Contact</h1>
    <ul class="flex justify-center items-center flex-wrap">
        <li class="text-lightBlue font-medium lg:p-3 p-1 lg:text-base text-sm"><span class="text-blueColor">Inside KSA:</span> 920010322</li>
        <li class="text-lightBlue font-medium lg:p-3 p-1 lg:text-base text-sm"><span class="text-blueColor">Outside KSA:</span> 966138080071</li>
        <li class="text-lightBlue font-medium lg:p-3 p-1 lg:text-base text-sm"><span class="text-blueColor">Email:</span> info@broscogroup.com</li>
    </ul>
    <p class="lg:text-base text-sm">Copyright © 2023 Brosco All Rights Reserved</p>
</footer>