---
import banner from "../assets/banner.png";
---
<div>
<div class="flex justify-between h-[90vh] px-10">
    <div  class="self-center pb-10 flex-1	">
        <h1 class="text-greyColor md:text-7xl text-5xl mb-0 "  >BROSCO</h1>
        <h1 class="text-blueTitle md:text-7xl text-5xl font-black mt-[-1.8rem]" style="text-shadow:2px 2px 9px #bdceca" >DELTA MOBREY</h1>
        <p class="text-darkGreyColor md:text-xl text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit. consectetur adipisicing elit. consectetur adipisicing elit.</p>
    </div>
    <div>
        <img src={banner} alt="" class="w-full h-full lg:block hidden flex-1	">
    </div>
</div>
</div>
