---
import banner from "../assets/banner.png";
---
<div>
<div class="flex justify-between h-[90vh] px-10">
    <div  class="self-center pb-10 flex-1	">
        <h1 class="text-greyColor md:text-7xl text-6xl mb-0 " data-aos="fade-up" >BROSCO</h1>
        <h1 class="text-blueTitle md:text-7xl text-6xl font-black mt-[-1.8rem]" style="text-shadow:2px 2px 9px #bdceca" data-aos="fade-up">DELTA MOBREY</h1>
        <p data-aos="fade-up"
     data-aos-duration="1500" class="text-darkGreyColor md:text-xl text-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. consectetur adipisicing elit. consectetur adipisicing elit.</p>
    </div>
    <div>
        <img data-aos="fade-left"
     data-aos-duration="1000"src={banner} alt="" class="w-full h-full lg:block hidden flex-1	">
    </div>
</div>
</div>
