---
import banner from "../assets/banner.png";
---
<div class="bg-banner">
<div class="flex justify-between h-[90vh] px-10">
    <div  class="self-center pb-10">
        <h1 class="text-greyColor md:text-7xl text-6xl mb-0 font-light">BROSCO</h1>
        <h1 class="text-blueColor md:text-7xl text-6xl font-semibold mt-[-1.8rem]">DELTA MOBREY</h1>
        <p class="text-darkGreyColor md:text-2xl text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div>
        <img src={banner} alt="" class="w-full h-full lg:block hidden">
    </div>
</div>
</div>