---
import Logo from "./logo.astro";
---

<nav>
    <div class="flex w-full pt-7 md:px-10 px-5 justify-between">
    <Logo/>
    <div class="flex flex-col">
        <p class="text-lightBlue text-sm md:text-base">Call Us <i class="fa fa-phone" aria-hidden="true"></i></p>
        <a class="text-lightBlue font-bold text-sm md:text-base" href="tel:920010322">920010322</a>
    </div>
    </div>

</nav>
