---
import Logo from "./logo.astro";
---

<nav>
    <div class="flex w-full pt-7 px-10 justify-between">
    <Logo/>
    <div class="flex flex-col">
        <p class="text-lightBlue">Call Us <i class="fa fa-phone" aria-hidden="true"></i></p>
        <a class="text-lightBlue font-bold" href="tel:920010322">920010322</a>
    </div>
    </div>

</nav>
