---
import Title from "./common/title.astro";
import servicesImg from "../assets/services.png"
import Service from "./common/service.astro";
---
<div>
    <Title title1="Our" title2="services"/>
    <div class="relative mt-10">
        <img src={servicesImg} class="opacity-10"/>
        <div class="absolute bottom-0 top-0 z-10 grid grid-cols-3 px-10 gap-4 justify-center">
            <Service title="Inspection Services" description="Help you reduce risk and ensure quality and accuracy, as well as meeting regulatory requirements"/>
            <Service title="Inspection Services" description="Help you reduce risk and ensure quality and accuracy, as well as meeting regulatory requirements"/>
            <Service title="Inspection Services" description="Help you reduce risk and ensure quality and accuracy, as well as meeting regulatory requirements"/>
            <Service title="Inspection Services" description="Help you reduce risk and ensure quality and accuracy, as well as meeting regulatory requirements"/>
            <Service title="Inspection Services" description="Help you reduce risk and ensure quality and accuracy, as well as meeting regulatory requirements"/>
            <Service title="Inspection Services" description="Help you reduce risk and ensure quality and accuracy, as well as meeting regulatory requirements"/>
        </div>
    </div>
</div>