---
import Title from "./common/title.astro";
import servicesImg from "../assets/services.png"
import Service from "./common/service.astro";
---
<div class="my-10 relative">
    <div class="bg-services absolute top-0 bottom-0 w-full"></div>
    <Title title1="Our" title2="services"/>
    <div class="mt-10">
        <div class="!opacity-100">
        <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 px-10 gap-4 justify-center">
            <Service title="Inspection Services" description="Help you reduce risk and ensure quality and accuracy, as well as meeting regulatory requirements"/>
            <Service title="Inspection Services" description="Help you reduce risk and ensure quality and accuracy, as well as meeting regulatory requirements"/>
            <Service title="Inspection Services" description="Help you reduce risk and ensure quality and accuracy, as well as meeting regulatory requirements"/>
            <Service title="Inspection Services" description="Help you reduce risk and ensure quality and accuracy, as well as meeting regulatory requirements"/>
            <Service title="Inspection Services" description="Help you reduce risk and ensure quality and accuracy, as well as meeting regulatory requirements"/>
            <Service title="Inspection Services" description="Help you reduce risk and ensure quality and accuracy, as well as meeting regulatory requirements"/>
        </div>
    </div>
    </div>
</div>
<style>
    .bg-services{
        opacity:0.1;
        background:url('../assets/services.png') no-repeat left center;
    }
</style>