---
export interface Props {
    img: string;
}

const { img } = Astro.props;
---
<div class="pro flex items-center justify-center border-[15px] border-whiteColor py-8 mx-6">
    <img src={img} alt="product pic" class=" pro-img">
</div>

<style is:global>
	.pro-title::after {
		content: "";
		bottom: 0;
		top:20px;
		height: 5px;
		left: 50%;
		margin: 10px 0 0 -70px;
		position: absolute;
		width: 140px;
		background-color:#efefef
	}
	.pro{
		transition: all 0.5s ease-out 0s;
		-webkit-transition: all 0.5s ease-out 0s;
		min-height: 310px;
        height: 300px;
        padding: 5px;
	}
	.pro:hover{
		border-color: #007cbc;
	}
	.pro-img{
		transition: all 0.5s ease-out 0s;
		-webkit-transition: all 0.5s ease-out 0s;
	}
</style>
